body{
    margin: 0px;
}

a{
    text-decoration: none;
}

header{
    max-width: 100%;
    height: 124px;
    background-color: #717744;
    display: inline-block;
    display: flex;
    padding-left: 15%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.logo-p{
    font-family: "Press Start 2P", system-ui;
    font-size: 32px;
    color: #FABE2A;
    margin-left: 11px;
}

nav{
    margin-top: 40px;
    margin-left: 30%;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin-left: 45px;
}

li a{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    color: #FFF;
}

.main-rect{
    margin-top: 100px;
    width: 1400px;
    height: 652px;
    background-color: #FABE2A;
}
.main-img{
    position: absolute;

}
